*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Zain", sans-serif;
}

body{
  width: 100dvw;
  height: 100dvh;
  background-color: #fbfbfb;
  overflow-x: hidden;
}

.hero-section{
  width: 100%;
  height: 90%;
  background-image: url('./assets/lorena-santos-hero2.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  padding: 0 12%;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 70px;
  max-width: 550px;
}

.container h1 {
  font-size: 4rem;
}

.container h3{
  font-size: 6rem;
  line-height: 5rem;
}

.container p{
  font-size: 3.5rem;
  line-height: 2.8rem;
}

.btn-cta{
  width: fit-content;
  padding: 15px 25px;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: bolder;
  border-radius: 12px;
  background: linear-gradient(-45deg, #4f1941de, #D91149, #4f1941ea, #D91149);
  background-size: 500%;
  animation: anime 20s linear infinite;
  transition: all 0.2s ease;
}

.btn-cta:hover{
  box-shadow: 0 0 10px 2px #4f1941de;
}

@keyframes anime {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 100% 50%;
  }
}

.section{
  width: 100%;
  padding: 5% 12% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.section:not(:first-child){
  height: 100vh;
}

.your-company-section{
  position: relative;
}

#lines{
  position: absolute;
  z-index: -1;
  width: 50%;
  top: -20%;
  left: 0;
}

.section h2{
  font-size: 6rem;
}

.pilar-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.pilar{
  width: 250px;
  height: 250px;
  padding: 0 2%;
  background: linear-gradient(-45deg, #4f1941de, #D91149);
  background-color: #4f1941de;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.pilar h4{
  font-size: 4rem;
  position: relative;
  z-index: 10;
}

.pilar h4 i{
  position: absolute;
  color: #fff;
  font-size: 4rem;
  top: -4px;
  left: -26px;
  z-index: -1;
}

.pilar p{
  font-size: 2rem;
  text-align: center;
}

.potential-section{
  position: relative;
  padding-top: 0;
}

#curves{
  position: absolute;
  width: 50%;
  z-index: -1;
  top: -40%;
  right: 0;
}

.potential-section h2{
  width: 800px;
  text-align: center;
  line-height: 4rem;
}

.potential-section p{
  font-size: 2.5rem;
  text-align: center;
  width: 550px;
}

.questions-wrapper{
  display: flex;
  justify-content: space-between;
  gap: 120px;
}

.question{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
  max-width: 387px;
  padding: 43px 20px 20px;
  border-radius: 15px 15px 0 0;
  background-color: #fbfbfb;
}

.question:nth-child(1):before{
    content: "";
    position: absolute;
    bottom: 100%;
    left: calc(50% - 1px);
    width: 60%;
    height: 115px;
    border-top: 1px solid #4F1941;
    border-left: 1px solid #4F1941;
    border-radius: 30px 0 0 0;
    pointer-events: none;
}

.question:nth-child(2):before{
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 60px;
  background: #4F1941;
}

.question:last-child:before{
  content: "";
  position: absolute;
  bottom: 100%;
  right: calc(50% - 1px);
  width: 60%;
  height: 115px;
  border-top: 1px solid #4F1941;
  border-left: 1px solid #4F1941;
  border-radius: 30px 0 0 0;
  pointer-events: none;
  transform: scaleX(-1);
}

.question::after{
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 100%;
  background: linear-gradient(180deg, #4F1941, #faf9fa00);
  border-radius: 15px 15px 0 0;
  z-index: -1;
}

.circle{
  width: 100px;
  filter: drop-shadow(0 0px 5px black);
  animation: rotate 10s linear infinite;
}

@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.question p{
  font-size: 2.3rem;
}

.cta-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.digital-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-top: 0;
  position: relative;
}

#waves{
  position: absolute;
  z-index: -1;
  width: 60%;
  top: -15%;
  right: 0;
}

.digital-section h2{
  margin-bottom: 50px;
}

.item{
  display: flex;
  align-items: center;
  font-size: 2.5rem;
}

.digital-section .btn-cta{
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .hero-section{
    flex-direction: column;
    background-size: contain;
    background-position: top;
    height: auto;
    padding: 0 8% 10%;
  }

  .container{
    justify-content: flex-end;
    gap: 35px;
    padding-top: 35vh;
  }

  .container h1{
    font-size: 4rem;
  }

  .container h3{
    font-size: 5rem;
    line-height: 4rem;
  }

  .container p{
    font-size: 2.8rem;
    line-height: 2.5rem;
  }

  .btn-cta{
    width: 100%;
    font-size: 2rem;
  }

  .section{
    gap: 30px;
    padding: 15% 10% 10%;
  }

  .section:not(:first-child){
    height: auto;
  }
  
  #lines{
    display: none;
  }
  
  .section h2{
    font-size: 4rem;
    text-align: center;
    line-height: 3rem;
  }
  
  .pilar-wrapper{
    flex-direction: column;
    gap: 50px;
  }
  
  .pilar{
    width: 270px;
    animation: slideLeft 1s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
  }

  .pilar:nth-child(2){
    animation: slideRight 1s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
  }

  @keyframes slideLeft {
    from{
      transform: translateX(150%);
    }
    to {
      transform: translateX(0%);
    }
  }

  @keyframes slideRight {
    from{
      transform: translateX(-150%);
    }
    to {
      transform: translateX(0%);
    }
  }
  
  .pilar p{
    font-size: 2.5rem;
  }

  #curves{
    display: none;
  }
  
  .potential-section h2{
    width: 100%;
    line-height: 4rem;
  }
  
  .potential-section p{
    width: 100%;
    line-height: 2.5rem;
  }
  
  .questions-wrapper{
    flex-direction: column;
    gap: 60px;
  }

  .question{
    padding: 20px;
  }

  .question:nth-child(1):before{
    display: none;
  }
  
  .question:not(:nth-child(1)):before{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 60px;
    background: #4F1941;
  }
  
  .circle{
    width: 120px;
  }
  
  .question p{
    font-size: 2.5rem;
  }
  
  .cta-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .cta-wrapper .btn-cta{
    font-size: 2rem;
    padding: 15px 10px;
  }
  
  .digital-section{
    gap: 15px;
  }
  
  #waves{
    display: none;
  }
  
  .digital-section h2{
    margin-bottom: 30px;
  }
  
  .item{
    flex-direction: column;
    text-align: center;
    font-size: 2.5rem;
    animation: slideUp 1s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
  }

  @keyframes slideUp {
    from{
      transform: translateY(100%);
      opacity: 0;
    }
    to{
      transform: translateY(0%);
      opacity: 1;
    }
  }

  .digital-section .btn-cta{
    margin-top: 30px;
  }
}